[submodule "modules/LOG"]
	path = modules/LOG
	url = https://github.com/shuai132/LOG.git
[submodule "modules/MAKE_EVENT"]
	path = modules/MAKE_EVENT
	url = https://github.com/shuai132/MAKE_EVENT.git
[submodule "modules/RpcCore"]
	path = modules/RpcCore
	url = https://github.com/shuai132/RpcCore.git
[submodule "src/SimpleTimer"]
	path = src/SimpleTimer
	url = https://github.com/schinken/SimpleTimer
